* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: linear-gradient(#31220b, #382e1b);
    color: #f3e7d4;
  }

  .content h3 {
    font-size: 1.25rem;
    color: #fbd392;
    margin-bottom: 0.15rem;
  }

  .price {
    font-size: 1rem;
    color: #d1b68b;
    margin: 0;
  }

  .actions {
    text-align: right;
  }

  .actions button {
    background: #f4b115;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }

  .actions button:hover {
    background: #8f5e02;
  }

  .product {
    margin: 12.5%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: #5f4e33;
    border-radius: 10px;
  }

  .content {
    padding: 0 20px;
  }

  img {
    border-radius: 10px 10px 0px 0px;
  }
